@import "pattern.scss";

.menuPrincipal {
      background-color: $tertiary-color;
      height: 100%;
}
.menuFixed{
      max-width: 80%;
      //margin: 20px auto;
      display: flex;
      justify-content: space-between;
      position: relative;
      
      
      #logo {
            width: 40px;
            left: 0;
            position: absolute;
      }
      #menu {
            width: 40px;
            right: 0;
            position: absolute;
      }

}
.menuColor {
      background-color: $tertiary-color;
      height: 100%;
      width: 100%;
}

