* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
      text-decoration: none;
}
li {
      list-style: none;
}
.container {
      width: 100%;
      height: 100vh;
      background: url("/static/one.jpg");
      background-size: cover;
      background-position: center;

}
nav {
      width: 100%;
      height: 10vh;
      background-color: #000000;
      padding: 0 5vw 0 5vw;
      display: flex;
      align-items: center;
}
nav i {
      color: #FFFFFF;
      font-size: 2vw;
      cursor: pointer;
}
#sidebar {
      border: 1px solid #FFFFFF;
      position: fixed;
      top: 0;
      left: 0;
      width: 22vw;
      height: 100vh;
      // transform: translateX(-100%);
      transition: 0.4s;
      padding: 5vh 2vh 0 2vh;
      background-image: linear-gradient(
            to top,
            #6EA3F3,
            #5D92FE,
            #5C7EFF,
            #6C65FF,
            #8642FF
      );
}
#close_span{
      position: absolute;
      width: 10vh;
      height: 10vh;
      background-image: linear-gradient(
            to right,
            #6EA3F3,
            #5D92FE,
            #5C7EFF,
            #6C65FF,
            #8642FF
      );
      top: 50%;
      transform: translateY(-50%);
      right: -10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0.5rem 0.5rem 0;
      opacity: 0;
      pointer-events: none;
}
span i {
      font-size: 1.8vw;
      color: #FFFFFF;
      cursor: pointer;
}
#items {
      // border: 1px solid #FF0000;
}
#items li {
      margin-bottom: 2vh;
      font-size: 1.8vw;
      text-transform: uppercase;
      padding: 2vh;
      border-radius: 0.4rem;
      transition: 0.4s;
}
#items li:hover {
      background: rgba(0, 0, 0, 0.157);
      cursor: pointer;
      box-shadow: 1px 1px 0.5rem #FFFFFF;
}
#items a {
      color: #FFFFFF;
}
#items i {
      margin-right: 2vw;
      font-size: 1.5vw;
}
#social {
      // border: 1px solid #FFFFFF;
      position: absolute;
      bottom: 0;
      padding: 2vh;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}
#social i {
      font-size: 1.2vw;
      color: #FFFFFF;
      border-radius: 4rem;
      padding: 1.2vh;
      background: rgba(0, 0, 0, 0.212);
      cursor: pointer;
}